foot RCDATA "res\\foot.mp3"
gameover RCDATA "res\\gameover.mp3"
newstage RCDATA "res\\newstage.mp3"
oops1 RCDATA "res\\oops1.mp3"
oops2 RCDATA "res\\oops2.mp3"
oops3 RCDATA "res\\oops3.mp3"
oops4 RCDATA "res\\oops4.mp3"
shoot1 RCDATA "res\\shoot1.mp3"
shoot2 RCDATA "res\\shoot2.mp3"
start RCDATA "res\\start.mp3"
